/* .logo {
    max-height: 45px;
    height: auto;
} */


/* .cabeçalho {
    max-height: 75px;
    min-height: 66px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    margin-top: -2px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font: bold 22pt arial;
    color: #223e63;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
    text-align: left;
    border-bottom: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.9);
    ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
} */

header {
    padding: 25px;
}

#nav1 {
    /* opacity: 0.85;
     */
    background: rgba(18, 22, 31, 0.8) !important;
    border-bottom: 1px solid rgba(40, 51, 73, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url("../images/dados-background-black.jpg");
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-position: center;
    /* width: 100%;
    height: 100%; */
    font-family: Calibri, Arial, sans-serif !important;
    text-align: center !important;
    /* background: rgb(90, 77, 148) !important; */
    color: white !important;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin: -310px 0 0 -300px; */
}

h1 {
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    font-size: 30pt;
}

section#iDados {
    background: rgb(14, 33, 41);
    width: 50%;
    margin: 30px auto;
    color: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 16px;
    width: 622px;
    background:  rgba(18, 22, 31, 0.8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

section#Variável {
    background: rgb(14, 33, 41);
    width: 50%;
    margin: 1px auto;
    color: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 16px;
    width: 622px;
    background:  rgba(18, 22, 31, 0.8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

div,
section {
    margin: auto;
}

div#rowx2 {
    align-items: center;
}

p#s2ex {
    font: normal 8pt arial;
    margin: auto;
}

div#cordem {
    width: 300px;
    /* border-radius: 16px; */
    visibility: hidden;
}

#ordem {
    /* background: white; */
    width: 300px;
    /* margin: 10px auto;
    padding: 5px;
    border-radius: 16px;
    background: rgba(245, 252, 255, 0.7); */
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #888;
    padding: 8px;
    width: auto;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

tr#titulo {
    font: bold 13pt arial;
    color: rgb(255, 255, 255);
}

th {
    color: rgb(37, 127, 168);
    font-family: Georgia, 'Times New Roman', serif;
}

.alin-dir {
    text-align: right;
}


/* .layer {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

section#S2 {
    /* text-align: center; */
    /* background: rgba(245, 255, 255, 0.5); */
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226); */
    /* border-radius: 3px; */
    font: normal 13pt arial;
    /* width: auto; */
    /* position: absolute; */
}

section#S3 {
    background:  rgba(18, 22, 31, 0.8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font: normal 13pt arial;
    color: rgb(236, 236, 236);
    padding: 2px;
    /* width: auto; */
    /* position: absolute; */
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

section#S3Resultados{
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    color: rgb(236, 236, 236);
}

.chartjs-render-monitor {
    height: 400px !important;
    width: auto !important;
}

.table-responsive {
    text-align: center !important;
}

table {
    color: black;
    width: 800px;
    border-style: solid;
    border-width: medium;
    /* border-radius: 20px; */
}

div#tabl2{
    padding: 30px;
}

textarea {
    margin-bottom: 10px;
    width: 400px;
    height: 100px;
    background:  rgb(33, 35, 41);
    color: rgb(236, 236, 236);
    border-color:  rgb(47, 57, 82);
    border-radius: 5pt;
    outline: none;
}

input, 
select {
    margin-top: 10pt;
    background:  rgb(33, 35, 41);
    color: rgb(236, 236, 236);
    border-color:  rgb(47, 57, 82);
    /* width: 80pt; */
    /* height: 20pt; */
    border-radius: 5pt;
    outline: none;
}

input#ColorMode{
    width: 100px;
}