/* NavBar */

header {
    padding: 25px;
}

#nav1 {
    background: rgba(252, 255, 255, 0.975) !important;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

div#conteudoNavbarSuportado{
    width: 20%;
}

.sair{
    color: rgb(255, 99, 132) !important;
    cursor: pointer;
}

/* Corpo */

body {
    background-image: url("../images/dados-background.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    font-family: Calibri, sans-serif !important;
    text-align: center !important;
}

h1 {
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    font-size: 30pt;
}

section#iDados {
    background: white;
    width: 50%;
    margin: 30px auto;
    color: #444;
    padding-top: 15px !important;
    padding: 3px;
    border-radius: 16px;
    width: 950px;
    height: auto;
    background: rgba(245, 252, 255, 0.85);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
}

div#ddados {
    width: 425px;
    margin: 10px;
}

div,
section {
    margin: auto;
}

p#s2ex {
    font: normal 8pt arial;
    margin: auto;
}

.modal-content{
    background: white !important;
    color: #444;
    padding-top: 15px !important;
    padding: 8px !important;
    border-radius: 16px !important;
    background: rgb(245, 252, 255) !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226) !important;
}

section#S2 {
    font: normal 13pt arial;
    width: 1200px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 54%;
    left: 50%;
    overflow: auto;
}

section#S3 {
    background: rgba(245, 255, 255, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
    border-radius: 16px;
    font: normal 13pt arial;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 10px;
  }

.grid-item {
    padding: 2px !important;
    margin-left: 10px;
    margin-right: 10px;
}

/* Gráfico/Tabela */

.chartjs-render-monitor {
    height: 400px !important;
    width: auto !important;
}

table{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226) !important;
    border-radius: 16px !important;
}

.table-shazam{
    background-color: rgb(255, 99, 132);
}

div#tabl2{
    padding: 5px;
}

/* Botões e conteúdo */

textarea {
    margin-bottom: 10px;
    width: 400px;
    height: 112px;
    background: rgb(250, 253, 255);
    border-radius: 5pt;
    outline: none;
    resize: none !important;
}

select {
    margin-top: 10pt;
    background: rgb(250, 253, 255);
    border-radius: 5pt;
    outline: none;
}

input {
    margin-top: 10pt;
    background: rgb(250, 253, 255);
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}

.butn {
    border: 2px solid black;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 5px;
    cursor: pointer;
}

.btnconfirmar {
    width: 125px;
    border-color: rgb(255, 99, 132);
    color: rgb(255, 99, 132);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btnconfirmar:hover {
    background-color: rgb(255, 99, 132);
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

.btnenviar {
    width: 185px;
    border-color: rgb(255, 99, 132);
    color: rgb(255, 99, 132);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btnenviar:hover {
    background-color: rgb(255, 99, 132);
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }