/* Navbar */

header {
    padding: 25px;
}

#nav1 {
    background: rgba(252, 255, 255, 0.975) !important;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    max-height: 45px;
    height: auto;
}

.sair{
    color: rgb(255, 99, 132) !important;
    cursor: pointer;
}

/* Corpo */

body{
    background-image: url("../images/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    text-align: center !important;
    font: normal 15pt arial;
    font-family: Calibri, sans-serif !important;
    display: table !important;
}

form{
    margin: 10px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: rgb(255, 99, 132) !important;
}

.all{
    width: auto;
    height: 465px;
    transform: translate(-50%, -47%);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
}

.login{
    background: rgba(245, 252, 255, 0.85);
    padding: 5px;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
    width: 450px;
    height: auto;
    margin-top: 5%;
    display: inline-grid;
}

.registro{
    background: rgba(245, 252, 255, 0.85);
    padding: 5px;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
    width: 450px;
    height: auto;
    margin-top: 4%;
    display: inline-grid;
}

div#interp{
    font: bold 12pt arial;
    color: #2c0a0a;
}

.mainlogin, .registrar{
    text-align: center;
    padding: 10px;
}

/* Botões e conteúdo */

.butn {
    border: 2px solid black;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

.btnlogin {
    width: 155px;
    border-color: rgb(255, 99, 132);
    color: rgb(255, 99, 132);
    transition: all 500ms ease;
}

.btnlogin:hover {
    background-color: rgb(255, 99, 132);
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .btnregistrar {
    width: 155px;
    border-color: rgb(255, 99, 132);
    color: rgb(255, 99, 132);
    transition: all 500ms ease;
}

.btnregistrar:hover {
    background-color: rgb(255, 99, 132);
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btnregistro {
    color: rgb(255, 99, 132) !important;
}

.btnregistro:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

input {
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    width: 180px;
    text-align: center;
}

/* Footer */

.bfooter{
    width: 100%;
    height: auto;
    bottom: auto;
    position: absolute;
}

.mSociais{
    width: 350px !important;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
}

.footerSocial{
    width: 100%;
    height: auto;
    margin-top: 1%;
}

/* Icones do Footer */

.iconesB{
    cursor: auto;
}

.icones{
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 99, 132); 
    padding: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.icones:hover{
    transform: translateY(-4px);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}