/* Navbar */

header {
    padding: 25px;
}

#nav1 {
    background: rgba(18, 32, 42, 0.95) !important;
    border-bottom: 1px solid rgba(40, 51, 73, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    max-height: 45px;
    height: auto;
}

.sair{
    color: rgb(255, 99, 132) !important;
    cursor: pointer;
}

.boasvindas{
    color: white;
}

.dropdown-menu{
    background: rgba(18, 32, 42, 0.95) !important;
}

.dropdown-item{
    color: white !important;
}
.dropdown-item:hover{
    background: rgba(47, 57, 82, 0.8) !important;
    color: white !important;
}

/* Corpo */

body{
    background-image: url("../../images/home-background-black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center !important;
    font: normal 15pt arial;
    text-align: center;
    font-family: Calibri, sans-serif !important;
}

section{
    background: rgba(18, 32, 42, 0.75);
    padding: 5px;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
}

section#principal{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 10px;
  }

.grid-item {
    padding: 2px !important;
    margin-left: 10px;
    margin-right: 10px;
}

/* Botões e conteúdo */

.bescolha {
    height: 250px;  
    width: 250px;
    border: 4px solid rgb(255, 99, 132);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    background-color: rgb(255, 99, 132);
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 70, 110);
  }

  .bescolha:hover {
    box-shadow: 0 5px rgb(255, 62, 104);
    transform: translateY(4px);
  }

  .text{
    background-color: rgb(255, 99, 132);
    padding: 10px;
    border-radius: 16px;
    color: white;
  }

  .butn {
    border: 2px solid black;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

.btnescolha {
    width: 250px;
    border-color: rgb(255, 99, 132);
    color: rgb(255, 99, 132);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btnescolha:hover {
    background-color: rgb(255, 99, 132);
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

/* Responsividade */

@media only screen and (max-width: 990px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    section#principal{
        transform: translate(0%, 0%);
        top: 10%;
        left: 0%;
        margin-bottom: 7%;
    }
}

@media only screen and (max-width: 770px) {
    .grid-container {
        grid-template-columns: auto;
    }
}